<header>
        <a href="/"><img  class="timlogo" src="../images/logo.jpg"/></a>
        <div class="nav-modal">
            <div class="blob"></div>
            <nav>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/pages/posts">VIEW POSTS</a></li>
                        
                    <li><a href="/login">LOGIN</a></li>
                        
                    <li><a href="/pages/createpost">CREATE POSTS</a></li>
                    
                    <li><a href="/pages/about">ABOUT</a></li>
                    <li><a href="/pages/contact">CONTACT</a></li>
                   
                </ul>
            </nav>
        </div>
        <div class="head">
            <a href="https://www.facebook.com/profile.php?id=100008822083238" class="tile socialmedia"><i class="fa fa-facebook-official"></i></a>
            <a href="https://www.instagram.com/roy.sumit31" class="tile socialmedia"><i class="fa fa-instagram"></i></a>
            <a href="https://twitter.com/Sumitku98874158" class="tile socialmedia"><i class="fa fa-twitter-square"></i></a>
            <div class="tile burger">
                <div class="meat">
                    <div class="line one"></div>
                    <div class="line two"></div>
                    <div class="line three"></div>
                </div>
            </div>
        </div>
    </header>