<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Roy Blog- About</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/about.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Oswald"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    />
    <link
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
       <%- include ('../shared/header') %>

    <div class="aboutus-section">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="aboutus">
              <h2 class="aboutus-title">About Us</h2>
              <p class="aboutus-text">
                A Full-Stack Web Developer with combine patience, determination
                and persistence to troubleshoot client issues.
              </p>
              <h5>Skills:</h5>
              <ul>
                <div class="row">
                  <div class="col-6">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Javascript</li>
                    <li>SASS</li>
                  </div>
                  <div class="col-6">
                    <li>Bootstrap</li>
                    <li>ReactJs</li>
                    <li>NodeJs</li>
                  </div>
                </div>
              </ul>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="aboutus-banner">
              <img class="p-5" src="../images/sumit.jpg" alt="" />
            </div>
          </div>
          <div class="col-md-5 col-sm-6 col-xs-12">
            <div class="feature">
              <div class="feature-box">
                <div class="clearfix">
                  <div class="iconset">
                    <span class="glyphicon glyphicon-cog icon"></span>
                  </div>
                  <div class="feature-content">
                    <h4>Work with heart</h4>
                    <p>
                        Believe in your heart that you're meant to live a life full of passion, purpose, magic and miracles.
                    </p>
                  </div>
                </div>
              </div>
              <div class="feature-box">
                <div class="clearfix">
                  <div class="iconset">
                    <span class="glyphicon glyphicon-cog icon"></span>
                  </div>
                  <div class="feature-content">
                    <h4>Reliable services</h4>
                    <p>
                      All the materials available in this blog are totally researched and based on facts.
                    </p>
                  </div>
                </div>
              </div>
              <div class="feature-box">
                <div class="clearfix">
                  <div class="iconset">
                    <span class="glyphicon glyphicon-cog icon"></span>
                  </div>
                  <div class="feature-content">
                    <h4>Review</h4>
                    <p>
                      Viewer's review means a lot to us we gives our 100% to improve the magterial according to user review.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
          <%- include ('../shared/footer') %>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="../js/index.js"></script>
  </body>
</html>
